html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    padding: 0px;
}

header {
    background-color: #2d7053;
    width: 750px;
    height: 235px;
    display: inline-block;
}

p.krug {
    display: inline-block;
    margin-left: 38px;
    margin-bottom: 47px;
    margin-top: 28px;
    float: left;
}

p.shapka {
    display: inline-block;
    color: white;
    font-size: 1.5em;
    width: 134px;
    height: 134px;
    margin-top: 52px;
    margin-left: 58px;
}

p.line {
    display: inline-block;
    float: right;
    margin-top: 54px;
    margin-right: 38px;
}

p.kabinet {
    background-image: url(./pics/kabinet.png);
    width: 750px;
    height: 466px;
}

.button1 {
    background-color: #cb9223;
    color: white;
    border: none;
    width: 341px;
    height: 74px;
    font-size: x-large;
    margin-top: 368px;
    margin-left: 205px;
}

.button2 {
    background-color: #cb9223;
    color: white;
    border: none;
    width: 341px;
    height: 74px;
    font-size: x-large;
    margin-top: 38px;
    margin-left: 205px;
}

p.photo {
    display: inline-block;
    width: 247px;
    height: 247px;
    float: left;
    margin-left: 38px;
}

p.name {
    display: inline-block;
    margin-left: 150px;
    margin-top: 70px;
    font-size: 1.5em;
}

p.text {
    width: 590px;
    height: 166px;
    text-align: left;
    font-size: 1.3em;
    padding-left: 50px;
}

.pri4ina {
    font-size: 1.3em;
    padding-left: 50px;
}

footer {
    background-color: #888888;
    width: 750px;
    height: 153px;
}

p.krug2 {
    display: inline-block;
    padding-left: 50px;
    float: left;
}

.contact a {
    display: inline-block;
    color: white;
    font-size: 1em;
    float: right;
    text-decoration: none;
    margin-right: 38px;
    margin-top: 40px;
}